form {
    background-color:
        white;
    box-shadow:
        #055160 9px 6px 6px 0px,
        #6c757d 0px 30px 60px -30px,
        #0f513230 2px 0px 6px 0px inset;
    margin-top: 15%;
    padding-top: 100px;
}

.signup-btn {
    color: red;
}

.signin-btn {
    color: blue;
}